/*------------------------------------*\
    $Contents
\*------------------------------------*/
/**

 * Fonts
 * Variables
 * Mixins
 * Layout
 * Header
 * Promo
 * Typography
 * Page Title
 * Sidebar
 * Content
 * Code Samples
 * Library
 * Demos

 */





/*------------------------------------*\
    $Fonts
\*------------------------------------*/
@font-face {
    font-family: "proxima-nova-light";
    src: url("../fonts/proximanova-light-webfont.eot");
    src: local("?"),
        url("../fonts/proximanova-light-webfont.woff") format("woff"),
        url("../fonts/proximanova-light-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-light-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-regular";
    src: url("../fonts/proximanova-regular-webfont.eot");
    src: local("?"),
        url("../fonts/proximanova-regular-webfont.woff") format("woff"),
        url("../fonts/proximanova-regular-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-regular-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("../fonts/proximanova-bold-webfont.eot");
    src: local("?"),
        url("../fonts/proximanova-bold-webfont.woff") format("woff"),
        url("../fonts/proximanova-bold-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-bold-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-semibold";
    src: url("../fonts/proximanova-semibold-webfont.eot");
    src: local("?"),
        url("../fonts/proximanova-semibold-webfont.woff") format("woff"),
        url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-semibold-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}






/*------------------------------------*\
    $Variables
\*------------------------------------*/
$fourteen: 0.777777em;		/* 14px: 1 / (18x14) = 0.777777  */
$fifteen: 0.8333325em;		/* 15px: 1 / (18x15) = 0.8333325 */
$twenty-four: 1.333332em;	/* 24px: 1 / (18x24) = 1.5 		 */
$thirty: 1.666665em;		/* 30px: 1 / (18x30) = 1.666665  */
$thirty-six: 1.999998em;	/* 36px: 1 / (18x36) = 1.999998  */
$fourty-eight: 2.666664em;	/* 48px: 1 / (18x48) = 2.666664  */
$ninety: 4.999995em;		/* 90px: 1 / (18x90) = 4.999995  */
$onefourty: 7.77777em;		/* 140px: 1 / (18x140) = 7.77777 */

$blue: #5396db;
$fadedgrey: rgba(234, 234, 234, 0.6);
$solidgrey: rgba(234, 234, 234, 1);

$ProximaBoldStack: "proxima-nova-bold", Arial, sans-serif;
$ProximaSemiboldStack: "proxima-nova-semibold", Arial, sans-serif;
$ProximaRegularStack: "proxima-nova-regular", Arial, sans-serif;
$ProximaLightStack: "proxima-nova-light", Arial, sans-serif;




/*------------------------------------*\
    $Mixins
\*------------------------------------*/
@mixin breakpoint($point) {
    @if $point == medium {
        @media (max-width: 990px) { @content; }
    }
    @else if $point == small {
    	@media (max-width: 767px) { @content; }
    }
}

@mixin clearfix {
    *zoom : 1;
    
    &:before, &:after {
        display: table;
        content : "";
    }
    
    &:after {
        clear: both;
    }

}

@mixin border-radius($radius: 4px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	        border-radius: $radius;
}






/*------------------------------------*\
    $Layout
\*------------------------------------*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.container {
	margin: 0 auto;
}

.page {
	margin-top: 75px;
}





/*------------------------------------*\
    $Header
\*------------------------------------*/
.logo {
	float: left;
	display: inline-block;
	width: 50px;
	height: 75px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 40px;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-image: url(../img/logo-small.png);

	&:hover {
		background-color: transparent;
		border-bottom: 4px solid $blue;
	}

	@include breakpoint(small) {
		display: none;
	}

}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 75px;
	background-color: $fadedgrey;

	@include breakpoint(small) {
		padding: 0 20px;
	}

	li {
		display: inline-block;
	}
	
}

.nav {
	margin-top: 0;
}

.main-nav {
	float: left;
	margin-bottom: 0;

	.nav {
		margin-bottom: 0;

		a {
			color: #000;
			padding: 30px 5px;
			margin-right: 50px;
			height: 75px;
			line-height: 1;

			&:hover {
				background-color: transparent;
				border-bottom: 4px solid $blue;
			}

		}

	}

}

.util-nav {
	float: right;
	margin-top: 25px;
	

	.nav {

		> li {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			> a {
				width: 27px;
				height: 27px;
				padding: 0;
				text-indent: -9999px;
				background-color: transparent;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-image: url(../img/share-icons.png);

				&.share {
					background-position: 0 -27px;
				}

				&.github {
					background-position: 0 -54px;
				}

				&:hover, &:focus {
					outline: none;
					background-color: transparent;
				}

			}
		}

	}

}






/*------------------------------------*\
    $Dropdown
\*------------------------------------*/
.dropdown-menu {
	left: -50%;
	@include border-radius;
	border-top: 4px solid $blue;

	&:before {
		top: -11px !important;
	}

	&:after {
		border-bottom: 6px solid $blue !important;
		top: -10px !important;
	}

	li {
		display: block;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #e5e5e5;
		font-size: $fourteen;

		> a {
			padding: 0;

			&:hover {
				color: #333;
				background-image: none;
				background-color: transparent;
			}

		}
	}

}

.dropdown__action {
	display: inline-block;
	font-weight: bold;
	background-color: #f1f1f1;
}

.dropdown__tally {
	display: inline-block;
	font-weight: normal;
	background-color: #ebedef;
}





/*------------------------------------*\
    $Promo
\*------------------------------------*/
.promo {
	padding-top: 230px;
	height: 675px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../img/map-bg.png);

	@include breakpoint(small) {
		height: 400px;
		margin-left: -20px;
		margin-right: -20px;
		padding-top: 100px;
	}
}

	.promo__title {
		width: 225px;
		height: 90px;
		margin: 0 auto 20px auto;
		text-indent: -9999px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: url(../img/logo-white-large.png);
	}

	.promo__text {
		font-size: $twenty-four;
		color: #fff;
		text-align: center;
	}

	.promo__button {
		display: block;
		margin: 0 auto;
		padding: 15px 30px;
		width: 240px;
	}




/*------------------------------------*\
    $Typography
\*------------------------------------*/
h1, .h1 {
	margin-top: 0;
	margin-bottom: 15px;
	line-height: 1.3;
	font-weight: normal;
	font-family: $ProximaLightStack;
	font-size: $fourty-eight;
}

h2, .h2 {
	margin-top: 0;
	margin-bottom: 15px;
	line-height: 1.4;
	font-weight: normal;
	font-family: $ProximaSemiboldStack;
	font-size: $twenty-four;
}

h3, .h3 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 1em;
	line-height: 1.4;
}

h4, .h4 {
	font-size: 1em;
	font-weight: normal;
}

p {
	margin: 0 0 15px 0;
	line-height: 1.5;
}

li {
	list-style-position: inside;
	line-height: 1.5;
}

a {
	color: hsla(211, 62, 72, 1);

	&:hover {
		color: hsla(211, 62, 72, 1);
		text-decoration: underline;
	}

}

hr {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}






/*------------------------------------*\
    $Page Title
\*------------------------------------*/
.page-title {
	height: 210px;
	padding: 90px 0;
	background-color: transparent;
	background-position: 0 0;
	background-image: url(../img/map-bg.png);
	background-repeat: no-repeat;

	@include breakpoint(small) {
		padding-right: 20px;
		padding-left: 20px;
		margin-right: -20px;
		margin-left: -20px;
	}
}

	.page-title__title {
		float: left;
		margin-top: 0;
		color: hsla(0, 0, 100, 1);
		line-height: 1;
		font-size: $thirty-six;
	}

	.page-title__button {
		float: right;
	}

.big-button {
	padding: 15px 30px;
	font-family: $ProximaBoldStack;
}





/*------------------------------------*\
    $Plain Title
\*------------------------------------*/
.plain-title {
	overflow: hidden;
	padding-top: 75px;
	border-bottom: 1px solid #ededed;

	@include breakpoint(small) {
		margin-bottom: 15px;
	}

	h1 {
		margin-bottom: 13px;
	}

}





/*------------------------------------*\
    $Sidebar
\*------------------------------------*/
.sidebar {
	
}

	.sidebar__title {
		padding-bottom: 5px;
		margin-bottom: 0;
		border-bottom: 1px solid #ededed;
	}

	.sidebar__nav {
		margin: 0;
		
		li {
			border-top: 1px solid #ededed;
			border-bottom: 1px solid #ffffff;
			list-style: none;
			color: #000;
		}

		a {
			display: block;
			padding: 15px 15px 14px;
			color: #000;
			font-size: $fourteen;
			font-family: $ProximaRegularStack;
			border-left: 2px solid transparent;

			&:hover {
				border-left: 2px solid $blue;
				text-decoration: none;
			}

		}

	}





/*------------------------------------*\
    $Content
\*------------------------------------*/
.main {
	margin-top: 45px;

	@include breakpoint(small) {
		margin-top: 0;
	}

}

.content {

}





/*------------------------------------*\
    $Code Examples
\*------------------------------------*/
pre {
	margin: 0 0 15px 0;
	padding: 15px;
	border-left: 10px solid #28323e;
	letter-spacing: 1px;
	font-size: $fourteen;
	font-family: "Myriad Pro", Aperture, Arial, sans-serif;
	line-height: 1;
	@include border-radius;
	background-color: hsl(240, 3.6%, 11.6%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, hsl(240, 3.1%, 12.6%)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(hsl(240, 3.1%, 12.6%) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(hsl(240, 3.1%, 12.6%) 50%, transparent 50%, transparent);
	background-image: linear-gradient(hsl(240, 3.1%, 12.6%) 50%, transparent 50%, transparent);
	background-size: 30px 30px;
	color: #fff;
}

code {
	font-size: $fourteen;
}




/*------------------------------------*\
    $Library
\*------------------------------------*/
.library__item {
	position: relative;
	float: left;
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
	@include border-radius;
	border: 1px solid #c0c0c0;
	box-shadow: 1px 1px 2px #ddd;
}

	.library__item.active {
		padding-left: 12px;
		border-left: 4px solid $blue;
		background-color: #fff;
	}

.library__info {
	float: left;
}

.library__title {
	line-height: 1;
}

.library__updated {
	display: inline-block;
	margin-bottom: 15px;
	font-size: $fourteen;
}

.library__description {
	font-size: 16px;
	float: left;
	width: 100%;
	margin-bottom: 0;
	clear: both;
}

.library__download {
	position: absolute;
	top: 15px;
	right: 15px;

	@include breakpoint(small) {
		position: relative;
		top: auto;
		right: auto;
		float: left;
		width: 100%;
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #c0c0c0;
		text-align: left;
	}

	strong, em {
		display: block;
		font-size: $fourteen;
		text-align: right;

		@include breakpoint(small) {
			display: inline;
		}

	}

	em {
		color: #c3c3c3;
	}

}

.overview {
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ffffff;

	dt {
		margin-bottom: 15px;
	}

	dd {
		margin-left: 0;
	}

	a {
		font-weight: bold;
	}

}

	.overview__downloads {
		float: left;
		width: 50%;
		line-height: 1.3;

		strong {
			display: block;
		}

		em {
			display: block;
			font-style: normal;
			color: #c3c3c3;
			font-size: $fourteen;
		}
	}

.overview-extras {

	@include breakpoint(small) {

	}

}

.avatar {
	margin-right: 15px;
	@include border-radius(23px);
}





/*------------------------------------*\
    $Demos
\*------------------------------------*/
.demo {
	float: left;
	width: 100%;
}

.demo__screenshot {

	> img {
		float: right;
		margin-bottom: 15px;
		border: 1px solid #ddd;
		@include border-radius;
		box-shadow: -2px 2px 2px #ddd;
	}

	.btn {
		
	}

}

