/*------------------------------------*\
    $Contents !D4! !!!
\*------------------------------------*/
/**

 * Fonts
 * Variables
 * Mixins
 * Layout
 * Header
 * Search Form
 * Dropdown
 * Footer
 * Promo
 * Typography
 * Page Title
 * Sidebar
 * Content
 * Home
 * Home - About NoFlo
 * Home - Video
 * Home - Kickstarter
 * Home - Understanding NoFlo
 * Home - Significance of NoFlo
 * Home - Be Part of NoFlo
 * Home - Who Uses NoFlo
 * Code Samples
 * Library
 * Demos
 * Documentation
 * Code

 */


body {
  background-color: hsl(210, 8%, 96.5%);
  text-shadow: 0 1px 0 white;

}

input[type=text], textarea {
  outline: none !important;
}


/*------------------------------------*\
    $Fonts
\*------------------------------------*/
@font-face {
    font-family: "proxima-nova-light";
    src: url("../fonts/proximanova-light-webfont.eot");
    src: local("?"),
        url("../fonts/proximanova-light-webfont.woff") format("woff"),
        url("../fonts/proximanova-light-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-light-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-regular";
    src: url("../fonts/proximanova-regular-webfont.eot");
    src: local("?"),
        url("../fonts/proximanova-regular-webfont.woff") format("woff"),
        url("../fonts/proximanova-regular-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-regular-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("../fonts/proximanova-bold-webfont.eot");
    src: local("?"),
        url("../fonts/proximanova-bold-webfont.woff") format("woff"),
        url("../fonts/proximanova-bold-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-bold-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-semibold";
    src: url("../fonts/proximanova-semibold-webfont.eot");
    src: local("?"),
        url("../fonts/proximanova-semibold-webfont.woff") format("woff"),
        url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-semibold-webfont.svg#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}






/*------------------------------------*\
    $Variables
\*------------------------------------*/
$twelve: 0.6666666em;   /* 14px: 12/18 = 0.6666666 */
$fourteen: 0.777777em;    /* 14px: 1 / (18x14) = 0.777777  */
$fifteen: 0.8333325em;    /* 15px: 1 / (18x15) = 0.8333325 */
$sixteen: 0.888888em;   /* 16px: 1 / (18x16) = 0.888888  */
$twenty-one: 1.1666666em; /* 21px: 1 / (18x21) = 1.1666666 */
$twenty-four: 1.333332em; /* 24px: 1 / (18x24) = 1.5     */
$thirty: 1.666665em;    /* 30px: 1 / (18x30) = 1.666665  */
$thirty-six: 1.999998em;  /* 36px: 1 / (18x36) = 1.999998  */
$fourty-eight: 2.666664em;  /* 48px: 1 / (18x48) = 2.666664  */
$ninety: 4.999995em;    /* 90px: 1 / (18x90) = 4.999995  */
$onefourty: 7.77777em;    /* 140px: 1 / (18x140) = 7.77777 */

$blue: #5396db;
$fadedblue: hsl(211, 45%, 50%); //hsl(209, 66%, 92%);
$fadedwhite: rgba(252, 252, 252, 0.96);
$solidgrey: rgba(234, 234, 234, 1);

$c0  : hsl(220, 10%, 40%); /* Gray */
$c1  : hsl(  0, 68%, 70%); /* Red */
$c2  : hsl( 30, 68%, 70%); /* Orange */
$c3  : hsl( 60, 68%, 70%); /* Yellow */
$c4  : hsl( 90, 68%, 70%); /* Lime Green */
$c5  : hsl(120, 68%, 70%); /* Green */
$c6  : hsl(150, 68%, 70%); /* Green-Turq */
$c7  : hsl(180, 68%, 70%); /* Bright Blue */
$c8  : hsl(210, 68%, 70%); /* blue */
$c9  : hsl(240, 68%, 70%); /* Purple */
$c10 : hsl(270, 68%, 70%); /* Violet */
$c11 : hsl(300, 68%, 70%); /* Pink */
$c12 : hsl(330, 68%, 70%); 

$ProximaBoldStack: "proxima-nova-bold", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", Arial, sans-serif;
$ProximaSemiboldStack: "proxima-nova-semibold", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", Arial, sans-serif;
$ProximaRegularStack: "proxima-nova-regular", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
$ProximaLightStack: "proxima-nova-light", "Helvetica Neue Light", "HelveticaNeueLight","HelveticaNeueLight", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
$HelveticaNeueBoldStack: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", Arial, sans-serif;

.left {
  float: left;
}

.right {
  float: right;
}



/*------------------------------------*\
    $Mixins
\*------------------------------------*/
@mixin breakpoint($point) {
    @if $point == medium {
        @media (max-width: 990px) { @content; }
    }
    @else if $point == small {
      @media (max-width: 767px) { @content; }
    }
}

@mixin clearfix {
    *zoom : 1;
    
    &:before, &:after {
        display: table;
        content : "";
    }
    
    &:after {
        clear: both;
    }

}

@mixin border-radius($radius: 4px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-cover {
-webkit-background-size: cover;           /* Safari 3.0 */
     -moz-background-size: cover;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: cover;           /* Opera 9.5 */
          background-size: cover;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}

@mixin background-image-2x($image) {
    @media (min--moz-device-pixel-ratio: 1.3),
        (-o-min-device-pixel-ratio: 2.6/2),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    }
}

@mixin image-2x($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3),
        (-o-min-device-pixel-ratio: 2.6/2),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
    }
}





/*------------------------------------*\
    $Layout
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.page {
  position: relative;
  margin-top: 75px;
}





/*------------------------------------*\
    $Header
\*------------------------------------*/
.logo {
  float: left;
  display: inline-block;
  width: 50px;
  height: 75px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 40px;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 50px 75px;
  background-image: url(../img/logo-small.png);
  @include image-2x("../img/logo-small@2.png", 50px, 75px);

  &.active {
    background-color: transparent;
    border-bottom: 4px solid $blue;

    @include breakpoint(small) {
      border-bottom: 0;
    }
  }

  &:hover {
    background-color: transparent;
    border-bottom: 4px solid $fadedblue;

    @include breakpoint(small) {
      border-bottom: 0;
    }
  }

}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  min-height: 75px;
  background-color: $fadedwhite;
  border-bottom: solid 1px white;
  box-shadow: 0 1px 1px hsla(220,10%,20%,.1);

  @include breakpoint(small) {
    padding: 0 20px;
  }

  li {
    display: inline-block;
  }

  &:hover {
    background-color: #fff;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
  
}

.nav {
  margin-top: 0;
}

.main-nav {
  float: left;
  margin-bottom: 0;

  @include breakpoint(small) {
    display: none;
  }

  .nav {
    margin-bottom: 0;

    @include breakpoint(small) {
    }

    a {
      color: #000;
      padding: 30px 15px;
      margin-right: 30px;
      height: 75px;
      line-height: 1;

      @include breakpoint(small) {
        margin-right: 0;
        padding: 20px;
        height: auto;
        font-size: $fourteen;
        font-family: $ProximaSemiboldStack;
      }

      &:hover {
        background-color: #fff;
        -webkit-transition: background-color 300ms linear;
        -moz-transition: background-color 300ms linear;
        -o-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;
        border-bottom: 4px solid $fadedblue;
      }

      &.active {
        background-color: transparent;
        border-bottom: 4px solid $fadedblue;
      }

    }

  }

}

.toggle-main-nav {
  display: none;
  outline: none !important;

  @include breakpoint(small) {
    display: block;
    position: absolute;
    top: 25px;
    right: 2.5%;
    z-index: 200;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/toggle-menu.png);
  }

  &.toggle-menu--open {
    background-position: 0 -20px;
  }

}

.util-nav {
  float: left;
  margin-top: 25px;

  @include breakpoint(small) {
    display: none;
  }

  @include breakpoint(medium) {
    float: right;
  }
  

  .nav {

    > li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      > a {
        width: 27px;
        height: 27px;
        padding: 0;
        text-indent: -9999px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url(../img/share-icons.png);

        &.share {
          background-position: 0 -27px;
        }

        &.github {
          background-position: 0 -54px;
        }

        &:hover, &:focus {
          outline: none;
          background-color: transparent;
        }

      }
    }

  }

}






/*------------------------------------*\
    $Mobile Nav
\*------------------------------------*/
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  margin-top: 6px;
  @include border-radius(4px);
  border-top: 4px solid $blue;
  background-color: $fadedwhite;

  h3 {
    padding: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #808080;
    font-size: $fourteen;
  }

  li {
    display: block;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ffffff;

    a {
      display: block;
      color: #000;
      padding: 30px 15px;
      margin-right: 30px;
      height: 75px;
      line-height: 1;
      margin-right: 0;
      padding: 20px;
      height: auto;
      font-size: $fourteen;
      font-family: $ProximaSemiboldStack;

      &:hover {
        background-color: #fff;
        border-bottom: 0;
      }

      &.active {
        background-color: transparent;
        border-bottom: 0;
      }

      &.github__action {
        padding-left: 40px;
      }

      &.stamp {
        padding-left: 40px;
      }
    }

  }

  .last {
    border-bottom: 0;
  }

}

.mobile-nav:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -11px;
  right: 4px;
}

.mobile-nav:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $blue;
  position: absolute;
  top: -10px;
  right: 4px;
}

/*------------------------------------*\
    $Search Form
\*------------------------------------*/
.search-site {
  position: relative;
  float: left;
}

.toggle-search {
  display: inline-block;
  width: 20px;
  height: 75px;
  padding: 0 20px;
  outline: none !important;
  margin-right: 25px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(../img/toggle-search.png);

  @include breakpoint(small) {
    display: none;
  }

  &:hover {
    background-color: #fff;
    border-bottom: 4px solid $fadedblue;
    background-position: 50% -75px;
  }

}

.toggle-search--active {
  margin-right: 0;
  background-position: 50% -150px;
  border-bottom: 4px solid $fadedblue;

  &:hover {
    background-position: 50% -150px;
  }

}

.search-form {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 460px;
  max-width: 460px;
  height: 75px;
  padding: 25px 15px 25px 0;
  border-bottom: 4px solid $fadedblue;
  
  .search__keywords {
    
    float: left;
    width: 75%;
    height: 25px;
    margin-left: 5px;
    padding: 6px 25px 5px 20px;
    outline: none !important;
    box-shadow: none;
    @include border-radius(0px);
    border: 0;
    border-left: 1px solid #f2f2f2;
    background-color: transparent;
    color: #333;

    &:focus, &:active {
      border: 0;
      outline: none !important;
      box-shadow: none;
      border-left: 1px solid #f2f2f2;
    }

  }

  .search-prompt {
    display: none;
    float: right;
    color: #808080;
    margin-top: 5px;
    margin-right: 10px;
    font-size: $fourteen;
  }

  .search-button {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    border: 0;
    text-indent: -9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% -100px;
    background-image: url(../img/toggle-search.png);
  }

}

.mobile-nav-search {
  padding: 15px;

  .mobile-nav-search__label {
    display: block;
    float: left;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 -25px;
    background-image: url(../img/toggle-search.png);
  }

  .mobile-nav-search__button {
    display: none;
  }

  .mobile-nav-search__text {
    width: 75%;
    border: 0;
    box-shadow: none;
    color: #000;
    font-size: $fourteen;
    font-family: $ProximaSemiboldStack;
    background-color: transparent;

    &:focus, &:active {
      background-color: #fff;
    }

  }

}






/*------------------------------------*\
    $Dropdown
\*------------------------------------*/
.dropdown-menu {
  min-width: 190px;
  top: 140%;
  left: -75px;
  padding-top: 0;
  @include border-radius;
  border-top: 4px solid $blue;
  /*background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url(../img/dropdown-bg.png);*/

  li {
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e5e5e5;
    font-size: $fourteen;

    > a {
      padding: 15px 20px;
      font-weight: bold;

      &:hover {
        color: #333;
        background-image: none;
        background-color: transparent;
      }

    }
  }

}

.stamp {
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: -20px 20px;
  background-image: url(../img/dropdown-actions.png);

  &.on-github {
    padding-left: 60px;
    background-position: -20px -188px;
  }

  &.on-google {
    padding-left: 60px;
    background-position: -20px -227px;
  }

  &.on-email {
    padding-left: 60px;
    background-position: -20px -268px;
  }

  &.on-twitter {
    padding-left: 60px;
    background-position: -20px -105px;
  }

  &.on-facebook {
    padding-left: 60px;
    background-position: -20px -145px;
  }

}


  .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -11px;
    left: 43%;
  }

  .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $blue;
    position: absolute;
    top: -10px;
    left: 44%;
  }

.dropdown-menu--github {
  left: auto;
  right: 0;
  width: 230px;

  li {
    overflow: hidden;

    a {
      padding: 0;
    }

  }

  span {
    float: left;
    display: block;
  }
  
}
  
  .dropdown-menu--github:before {
    left: auto;
    right: 4px;
  }

  .dropdown-menu--github:after {
    left: auto;
    right: 4px;
  }

.dropdown__action {
  width: 65%;
}

.github__action {
  padding: 20px 20px 20px 40px;
  background-repeat: no-repeat;
  background-position: -28px 20px;
  background-image: url(../img/dropdown-actions.png);
}

  .github-download {
    background-position: -28px 20px;
  }

  .github-star {
    background-position: -28px -23px;
  }

  .github-fork {
    background-position: -28px -63px;
  }

.dropdown__tally {
  width: 35%;
  padding: 20px;
  font-weight: normal;
  background-color: #f7f8fa;
  box-shadow: inset 5px 0 8px -6px #ccc;
}





/*------------------------------------*\
    $Footer
\*------------------------------------*/
.site-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1e1f21;
  
  border-top: 1px solid white;

  @include breakpoint(small) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  p {
    font-size: $fourteen;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 1px black;
  }
}






/*------------------------------------*\
    $Promo
\*------------------------------------*/
.promo {
	padding-top: 230px;
	height: 675px;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: 50%;
  @include background-cover;
	background-image: url(../img/map-bg.jpg);
  @include background-image-2x("../img/map-bg@2.jpg");

	@include breakpoint(small) {
		height: 400px;
		margin-left: -20px;
		margin-right: -20px;
		padding-top: 100px;
	}

	.promo__title {
		width: 225px;
		height: 90px;
		margin: 0 auto 20px auto;
		text-indent: -9999px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: url(../img/logo-white-large.png);
	}

	.promo__text {
		font-size: $twenty-four;
		color: #fff;
		text-align: center;

		@include breakpoint(small) {
			font-size: $twenty-one;
		}

	}

	.promo__button {
		display: block;
		margin: 0 auto 10px auto;
		padding: 15px 30px;
		width: 240px;
	}

}

.flowhub-promo {
  background-color: #000000;
  background-image: url("../img/flowhub.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  height: 612px;
  text-align: center;
  text-shadow: -1px 0px 1px black, 1px 0px 1px black, 0px -1px 1px black, -1px 0px 1px black;
  background-size: cover;
  @include breakpoint(small) {
    margin-left: -20px;
    margin-right: -20px;
  }
  .flowhub-promo-logo {
    display: block;
    padding-top: 108px;
  }
  .flowhub-promo-title {
    margin-top: 36px;
  }
  .flowhub-promo-text {
    padding-bottom: 36px;
  }
  .flowhub-promo-button {
    background-image: none;
    line-height: 44px;
    padding-top: 0px;
    position: relative;
    display: block;
    width: 262px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: rgba(0, 109, 204, 0.99);
    box-sizing: border-box;
    padding-bottom: 0px;
  }
  .flowhub-promo-button:before {
    display: block;
    content: '';
    position: absolute;
    border: 3px solid hsla(189, 11%, 26%, 0.8);
    left: -6px;
    top: -6px;
    width: 268px;
    height: 50px;
    border-radius: 7px;
  }
}
@media not all, not all, (-webkit-min-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
  .flowhub-promo {
    background-image: url("../img/flowhub@2.jpg");
  }
}

/*------------------------------------*\
    $Typography
\*------------------------------------*/
h1, .h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.3;
  font-weight: normal;
  font-family: $ProximaLightStack;
  font-size: $fourty-eight;

  @include breakpoint(small) {
    font-size: $thirty;
  }

}

h2, .h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.2;
  font-weight: normal;
  font-family: $ProximaSemiboldStack;
  font-size: $twenty-four;

  @include breakpoint(small) {
    font-size: 1em;
  }
}

h3, .h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 1.4;
  font-family: $ProximaSemiboldStack;

  @include breakpoint(small) {
    font-size: $sixteen;
  }

}

h4, .h4 {
  font-size: 1em;
  font-weight: normal;
}

h1 a, h2 a, h3 a {
  color: #333;
}

p {
  margin: 0 0 15px 0;
  line-height: 1.5;
}

ul ul {
  margin-left: 36px;
}

li {
  list-style-position: inside;
  line-height: 1.5;
}

a {
  color: #467eb8;

  &:hover {
    color: #467eb8;
    text-decoration: underline;
  }

}

hr {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

blockquote {

  p {
    font-size: 1em;
  }

}






/*------------------------------------*\
    $Page Title
\*------------------------------------*/
.page-title {
	height: 210px;
	padding: 90px 0;
	background-color: transparent;
	background-position: 0 0;
	background-image: url(../img/map-bg.jpg);
	@include background-cover;
  background-repeat: no-repeat;

  @include breakpoint(small) {
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
}

  .page-title__title {
    float: left;
    margin-top: 0;
    color: hsla(0, 0, 100, 1);
    line-height: 1;
    font-size: $thirty-six;

    @include breakpoint(small) {
      float: none;
      text-align: center;
    }

  }

  .page-title__button {
    float: right;

    @include breakpoint(small) {
      float: none;
      display: block;
      width: 150px;
      margin: 0 auto;
    }

  }

.big-button {
  padding: 15px 30px;
  font-family: $ProximaBoldStack;
}





/*------------------------------------*\
    $Plain Title
\*------------------------------------*/
.plain-title {
  overflow: hidden;
  padding-top: 60px;
  border-bottom: 1px solid hsl(220,10%,90%);
  box-shadow: 0 1px 0px white;

  @include breakpoint(small) {
    margin-bottom: 15px;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 24px;
    line-height: 1.6;
  }

}





/*------------------------------------*\
    $Sidebar
\*------------------------------------*/
.sidebar {
  padding-bottom: 60px;
}

  .sidebar__title {
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #ededed;
    font-size: $twenty-one;

    @include breakpoint(small) {
      font-size: 1em;
    }

  }

  .sidebar__nav {
    margin: 0;
    
    li {
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ffffff;
      list-style: none;
      color: #000;
    }

    a {
      display: block;
      padding: 15px 15px 14px;
      color: #000;
      font-size: $fourteen;
      font-family: $ProximaRegularStack;
      border-left: 2px solid transparent;

      &:hover, &.active {
        border-left: 2px solid $blue;
        text-decoration: none;
      }

    }

  }

  .sidebar__image {
    display: block;
    margin: 0 auto;
  }

  .sidebar__extra {

    @include breakpoint(small) {
      display: none;
    }

  }

  .sidebar__show-extra {
    display: none;
    outline: none;

    @include breakpoint(small) {
      display: block;
      width: 100%;
      height: 40px;
      text-indent: -9999px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 20px;
      background-image: url(../img/blue-arrows.png);
    }

  }

  .sidebar__show-extra--active {
    background-position: 50% -20px;
  }






/*------------------------------------*\
    $Content
\*------------------------------------*/
.main {
  margin-top: 60px;
  .content {
    margin-bottom: 90px;
  }
  @include breakpoint(small) {
    margin-top: 0;
  }

}

.content {

}






/*------------------------------------*\
    $Home - About NoFlo
\*------------------------------------*/
.about-noflo {
  padding-bottom: 90px;
  
}





/*------------------------------------*\
    $Home - Video
\*------------------------------------*/
.video {
	height: 600px;
	padding-top: 180px;
	background-color: #000;
	background-position: 50%;
	background-repeat: no-repeat;
	@include background-cover;
	background-image: url(../img/video-bg.jpg);
  @include background-image-2x("../img/video-bg@2.jpg");

	@include breakpoint(small) {
		margin-left: -20px;
		margin-right: -20px;
	}

	h2 {
		color: #fff;
		text-align: center;
		font-family: $ProximaLightStack;
		font-size: $thirty-six;

		@include breakpoint(small) {
			font-size: $thirty;
		}
  }

  p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }

  a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
  }

}

.video__play {
  display: block;
  margin: 0 auto 20px auto;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/video__play.png);
}

.video-thumbnails {
  margin: 0px;
  margin-top: 72px;
  text-align: center;

  li {
    display: inline;
    margin-left: 18px;
    margin-right: 18px;
  }

  img {
    width: 216px;
    max-width: 20%;
    border: 2px solid #000000;
    opacity: 0.9;
    transition: opacity 1s ease;
    &:hover {
      opacity: 1;
    }
  }
}


/*------------------------------------*\
    $Home - Kickstarter
\*------------------------------------*/
.theflo-panel {
  overflow: hidden;
  height: 622px;
  min-height: 622px;
  position: relative;
  background-color: #000000;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../img/theflo-bg.jpg);
  @include background-image-2x("../img/theflo-bg@2.jpg");
  @include background-cover;
  @include breakpoint(small) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px;
    padding-top: 60px;
    
  }
    
  background-size: cover !important;

  .main {
    padding-top: 80px;
    text-align: center;

    @include breakpoint(small) {
      padding-top: 0;
    }
    
    p, h2, h1 {
      text-shadow: 0 1px black;
    }
    
    h2 {
      font-family: $ProximaLightStack;
      font-size: $thirty-six;

      @include breakpoint(small) {
        font-size: $thirty;
      }

    }
    
    p a {      
      color: hsl(211, 65%, 71%);
    }

    a.btn {
      width: 200px;
      margin: 6px 16px;
      padding: 10px;
    }
  }

}

.kickstarter__title {
  text-align: center;

  h2 {
    font-family: $HelveticaNeueBoldStack;
    font-size: $thirty-six;
    font-weight: bold;

    @include breakpoint(small) {
      font-size: $thirty;
    }

  }

}


/*------------------------------------*\
    $Home - Understanding NoFlo
\*------------------------------------*/
.understanding-noflo {
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  background-color: hsl(220, 8%, 85%);;
  border-bottom: 1px solid white;

  @include breakpoint(small) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px 20px 160px 20px;
  }

  h2 {
    font-family: $ProximaLightStack;
    font-size: $thirty-six;

    @include breakpoint(small) {
      font-size: $thirty;
    }

  }

}

.understanding-noflo__image {
  position: absolute;
  top: 15%;
  right: -25%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/diagrams/screen-and-map.png);
  @include image-2x("../img/diagrams/screen-and-map.png", 885px, 792px);

  img {
    display: none;
  }

  @include breakpoint(small) {
    height: 200px;
    top: auto;
    bottom: 0;
  }

}







/*------------------------------------*\
    $Home - Significance of NoFlo
\*------------------------------------*/
.significance-of-noflo {  
  padding-top: 60px;
  padding-bottom: 120px;

  h2 {
    font-family: $ProximaLightStack;
    font-size: $thirty-six;

    @include breakpoint(small) {
      font-size: $thirty;
    }

  }

}

.fbp-book {
  p {
    font-size: $fourteen;
  }
  img {
    border-top: 1px solid white;
    border-left: 1px solid white;
  }
}

.book-sellers {
  list-style: none;
  margin-top: 5px;

  li {
    display: inline-block;
    float: left;
    height: 35px;
  }

  a {
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0 0;
    background-image: url(../img/book-sellers.png);
  }

  .epub {
    width: 53px;
  }

  .paperback {
    width: 117px;
    background-position: -53px 0;
  }

  .kindle {
    width: 75px;
    background-position: -170px 0;
  }

}





/*------------------------------------*\
    $Home - Be Part of NoFlo
\*------------------------------------*/
.part-of-noflo {
  text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 hsla(0,0%,0%,.5);
  overflow: hidden;
  position: relative;
  min-height: 455px;
  padding-top: 100px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  @include background-cover;
  background-image: url(../img/part-of-noflo.jpg);
  @include background-image-2x("../img/part-of-noflo@2.jpg");
  
  @include breakpoint(small) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 60px 20px 200px 20px;
  }

  .container {
    height: 100%;
  }

  h2 {
    margin-top: 0;
    font-family: $ProximaLightStack;
    font-size: $thirty-six;

    @include breakpoint(small) {
      font-size: $thirty;
    }
  }

  hr {
    border-top: 0;
    border-color: black;
    box-shadow: 0 1px hsl(220,20%,30%);
    box-shadow: 0 1px hsla(220,20%,40%,.5);

    @include breakpoint(small) {
      display: none;
    }
    
  }

}

  .part-of-noflo__screen {
    position: absolute;
    top: 40%;
    right: -15%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/diagrams/changelog-screen.png);
    
    @include breakpoint(small) {
      height: 200px;
      top: auto;
      bottom: 0;
    }
  }

.development-sources {
  float: left;
  width: 100%;
  margin-bottom: 120px;
  list-style: none;

  @include breakpoint(small) {
    width: 100%;
  }

  li {
    border-bottom: 1px solid  black;
    box-shadow: 0 1px hsl(220,20%,30%);
    box-shadow: 0 1px hsla(220,20%,40%,.5);
    
    @include breakpoint(small) {
      float: left;
      width: 33.333333333%;
      border-bottom: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
    }

  }

  .last {
    border-bottom: 0;
    border-right: 0;
  }

  a {
    display: block;
    padding: 15px 0;
    opacity: 0.4;

    &:hover, &.active {
      opacity: 1;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-image: url(../img/white-arrow.png);

      @include breakpoint(small) {
        background-position: 50% 100%;
        background-image: url(../img/white-arrow-down.png);       
      }
    }


  }

  img {
    @include breakpoint(small) {
      display: block;
      margin: 0 auto;
    }
  }

}






/*------------------------------------*\
    $Home - Who Uses NoFlo
\*------------------------------------*/
.who-uses-noflo {
  padding-top: 120px;
  padding-bottom: 180px;
  background-color: hsl(220, 10%, 96%);

  @include breakpoint(small) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    font-family: $ProximaLightStack;
    font-size: $thirty-six;

    @include breakpoint(small) {
      font-size: $thirty;
    }

  }
  
  ul {
    margin:0;
  }

}

.who-uses-noflo__logos {
  list-style: none;
  padding-left: 40px;
  border-left: 1px solid white;
  box-shadow: -1px 0px 0px hsl(220, 10%, 88%);
  
  img {
    border: 2px solid white;
    box-shadow: 0 1px 1px hsl(220, 10%, 70%);
  }

  li, a, img {
    display: inline-block;
  }

  li {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
  }

}









/*------------------------------------*\
    $Library
\*------------------------------------*/
.library__item {
  position: relative;
  float: left;
  width: 100%;  
  @include border-radius;
  border: 1px solid white;
  box-shadow: 0px 1px 1px 0px hsl(220, 10%, 75%);
  background-color: hsl(210, 10%, 98%);
  
  overflow:hidden;

  padding: 15px;
  margin-bottom: 10px;
  h3 {
    
  }
  .library__updated {
    display: inline-block;
    margin-bottom: 5px;
  }
  img.library__logo {
    position:absolute;
    right:0px;
    top:0px;
    border-left: 1px solid hsl(220,10%,88%);
    border-bottom: 1px solid hsl(220,10%,88%);
    box-shadow: -1px 1px 0px hsl(220,10%,100%);
    width:92px;
  }
}

  .library__item--active {
    padding-left: 11px;
    border-left: 4px solid $blue;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px hsl(220, 10%, 75%);
  }

.library__info {
  float: left;
}

.library__title {
  line-height: 1;
  font-size: $twenty-one;
  margin-top: 0px;
    margin-bottom: 10px;
}

.library__updated {
  display: inline-block;
  font-size: $fourteen;
  color: #808080;
  
  font-weight: normal;
  color: hsl(220,20%,70%);
  font-family: $ProximaLightStack;
}

.library__description {
  float: left;
  width: 100%;
  margin-bottom: 0;
  margin-top: 5px;
  clear: both;
  font-size: $fourteen;
}

.library__version {
  font-size:$twelve;
  font-weight: normal;
  color: hsl(220,20%,70%);
  margin-left: 0px;
  font-family: $ProximaLightStack;
}

.library__author {
  font-family: $ProximaSemiboldStack;
  font-size: $fourteen;
}
.library__download {
  position: absolute;
  top: 15px;
  right: 135px;
  font-size: $fourteen;
  text-align: right;

  @include breakpoint(small) {
    position: relative;
    top: auto;
    right: auto;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ededed;
    text-align: left;
  }

  strong, em {
    display: block;
    margin-bottom: 5px;

    @include breakpoint(small) {
      display: inline;
    }

  }

  em {
    color: #808080;
    font-style: normal;
  }

}

.overview {
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ffffff;

  dl {
    margin: 0;
  }

  dt {
    font-size: $fourteen;
    font-weight: normal;
    margin-bottom: 15px;
  }

  dd {
    font-size: $fourteen;
    font-weight: normal;
    margin-left: 0;
  }

  a {
    font-family: $ProximaSemiboldStack;
  }

}

  .overview__downloads {
    float: left;
    width: 50%;
    margin-bottom: 0;
    line-height: 1.3;

    strong {
      display: block;
      font-family: $ProximaSemiboldStack;
      font-weight: normal;
    }

    em {
      display: block;
      font-style: normal;
      color: #c3c3c3;
      font-size: $fourteen;
    }
  }

.overview-extras {

  @include breakpoint(small) {

  }

}

.avatar {
  margin-right: 15px;
  @include border-radius(23px);
}






.library__component_list {
  float: left;
  margin-bottom: 60px;
  margin-top: 15px;
  width: 100%;
  .library__item {    
    width: 48%;
    margin-right: 2%;
    @include breakpoint(small) {
      width: 100%;    
    }
  }
  
  
}



/*------------------------------------*\
    $Demos
\*------------------------------------*/
.demos {
  float: left;
  padding-bottom: 60px;
}

.demo {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.demo__title {
  font-size: $twenty-one;
  font-family: $ProximaSemiboldStack;
}

.demo__info {
   
   p {
    padding-right: 30px;
   }

}

.demo__screenshot {

  > img {
    float: right;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    @include border-radius;
    box-shadow: -2px 2px 2px #ddd;
  }

  .btn {
    float: right;

    @include breakpoint(small) {
      float: left;
    }
  }

}

.screenshot__explaination {
  float: left;
  width: 70%;
  font-size: $fourteen;
  color: #808080;

  @include breakpoint(small) {
    width: 100%;
  }

}

.demo__button {
  

}


/*------------------------------------*\
    $Code
\*------------------------------------*/


/*------------------------------------*\
    $Code Examples
\*------------------------------------*/

code {
  text-shadow: none;
  font-size: 11px;
  color: hsl(220, 20%, 20%);
}
h3 code {
  font-size: 1em;
  border: none;
  padding: 0px;
}

body .sourcecode {
  
}

body pre {
  margin: 20px 0 20px 0;
  //font-family: 'Monaco', Monaco, 'Bitstream Vera Sans Mono','Courier', monospace;
  //Monaco,Menlo,Consolas,"Courier New",monospace
  font-family: 'Bitstream Vera Sans Mono', Courier, monospace !important;  
  font-weight: normal;
  font-size: 11px;
  color: hsl(220, 20%, 20%);
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  letter-spacing: 1px;
  line-height: 18px;
  padding: 15px 15px;
  background-color: hsl(230, 8%, 92%);
  background-image: none;
  @include border-radius;
  text-shadow: 0 1px white;  
  border: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: inset 0 2px 1px hsl(220, 10%, 80%);
}

.highlight {
  ::-moz-selection { background: hsl(230, 100%, 35%); }
  ::selection      { background: hsl(230, 100%, 35%); } 
}

.highlight pre { 
  background-color: hsl(230, 13%, 18%);
  background-image: none;
  text-shadow: 0 1px black;  
  border: 1px solid black;
  border-bottom: 1px solid white;
  box-shadow: 0px -1px 1px 2px white;
  box-shadow: inset 0 3px 1px black, 0px -1px 1px 2px white;
  color: #ffffff;
}

 
.highlight pre {
  .c { color: hsl(220, 8%, 50%); } /* Comment */
  .err { color: red; } /* Error */
  .g { color: hsl(300, 78%, 75%) } /* Generic */
  .k { color: hsl(300, 78%, 75%) } /* Keyword */
  .l { color: hsl(300, 78%, 75%) } /* Literal */
  .n { color: hsl(300, 78%, 75%)} /* Name */
  .o { color: hsl(300, 78%, 75%) } /* Operator */
  .x { color: #CB4B16 } /* Other */
  .p { color: hsl( 30, 88%, 70%) } /* Punctuation */
  .cm { color: #586E75 } /* Comment.Multiline */
  .cp { color: #859900 } /* Comment.Preproc */
  .c1 { color: #586E75 } /* Comment.Single */
  .cs { color: #859900 } /* Comment.Special */
  .gd { color: #2AA198 } /* Generic.Deleted */
  .ge { color: hsl( 30, 88%, 70%); font-style: italic } /* Generic.Emph */
  .gr { color: #DC322F } /* Generic.Error */
  .gh { color: #CB4B16 } /* Generic.Heading */
  .gi { color: #859900 } /* Generic.Inserted */
  .go { color: hsl( 30, 88%, 70%) } /* Generic.Output */
  .gp { color: hsl( 30, 88%, 70%) } /* Generic.Prompt */
  .gs { color: hsl( 30, 88%, 70%); font-weight: bold } /* Generic.Strong */
  .gu { color: #CB4B16 } /* Generic.Subheading */
  .gt { color: hsl( 30, 88%, 70%) } /* Generic.Traceback */
  .kc { color: hsl(  0, 88%, 70%) } /* Keyword.Constant */
  .kd { color: #288BD2 } /* Keyword.Declaration */
  .kn { color: hsl( 60, 88%, 70%) } /* Keyword.Namespace */
  .kp { color: #859900 } /* Keyword.Pseudo */
  .kr { color: #288BD2 } /* Keyword.Reserved */
  .kt { color: #DC322F } /* Keyword.Type */
  .ld { color: hsl( 30, 88%, 70%) } /* Literal.Date */
  .m { color: #2AA198 } /* Literal.Number */
  .s { color: hsl(180, 88%, 70%); } /* Literal.String */
  .na { color: hsl( 30, 88%, 70%) } /* Name.Attribute */
  .nb { color: hsl(  0, 100%, 50%); } /* Name.Builtin */
  .nc { color: hsl(180, 88%, 70%) } /* Name.Class */
  .no { color: #CB4B16 } /* Name.Constant */
  .nd { color: #288BD2 } /* Name.Decorator */
  .ni { color: hsl(120, 88%, 75%) } /* Name.Entity */
  .ne { color: hsl(120, 88%, 75%) } /* Name.Exception */
  .nf { color: hsl(120, 88%, 75%) } /* Name.Function */
  .nl { color: hsl( 30, 88%, 70%) } /* Name.Label */
  .nn { color: hsl( 30, 88%, 70%) } /* Name.Namespace */
  .nx { color: hsl(210, 15%, 99%); } /* Name.Other */
  .py { color: hsl( 30, 88%, 70%) } /* Name.Property */
  .nt { color: hsl( 30, 88%, 70%) } /* Name.Tag */
  .nv { color: hsl(210, 100%, 75%); } /* Name.Variable */
  .ow { color: #859900 } /* Operator.Word */
  .w { color: hsl( 30, 88%, 70%) } /* Text.Whitespace */
  .mf { color: hsl( 90, 88%, 70%) } /* Literal.Number.Float */
  .mh { color: hsl( 90, 88%, 70%) } /* Literal.Number.Hex */
  .mi { color: hsl( 90, 88%, 70%) } /* Literal.Number.Integer */
  .mo { color: hsl( 90, 88%, 70%)} /* Literal.Number.Oct */
  .sb { color: hsl(180, 88%, 70%); } /* Literal.String.Backtick */
  .sc { color: hsl(180, 88%, 70%); } /* Literal.String.Char */
  .sd { color: hsl( 30, 88%, 70%) } /* Literal.String.Doc */
  .s2 { color: hsl(180, 88%, 70%); } /* Literal.String.Double */
  .se { color: hsl(180, 88%, 70%); } /* Literal.String.Escape */
  .sh { color: hsl( 30, 88%, 70%) } /* Literal.String.Heredoc */
  .si { color: #2AA198 } /* Literal.String.Interpol */
  .sx { color: #2AA198 } /* Literal.String.Other */
  .sr { color: #DC322F } /* Literal.String.Regex */
  .s1 { color: #2AA198 } /* Literal.String.Single */
  .ss { color: #2AA198 } /* Literal.String.Symbol */
  .bp { color: hsl(150, 88%, 70%) } /* Name.Builtin.Pseudo */
  .vc { color: hsl(150, 88%, 70%) } /* Name.Variable.Class */
  .vg { color: hsl(150, 88%, 70%) } /* Name.Variable.Global */
  .vi { color: hsl( 60, 88%, 70%) } /* Name.Variable.Instance */
  .il { color: #2AA198 } /* Literal.Number.Integer.Long */
}

.kickstarter_video {
  background-color: #000000;
  text-align: center;
  overflow: hidden;
  margin-top: 72px;
  @include breakpoint(small) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

ul.backers {
  list-style: none;
  margin: 0px;
  text-align: center;
  font-size: 24px;

  li {
    display: inline-block;
    line-height: 72px;
    min-width: 30%;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
  }
}
