/*------------------------------------*\
    $Contents
\*------------------------------------*/
/**

 * Fonts
 * Variables
 * Mixins
 * Layout
 * Header
 * Footer
 * Promo
 * Typography
 * Page Title
 * Sidebar
 * Content
 * Home
 * Code Samples
 * Library
 * Demos

 */
/*------------------------------------*\
    $Fonts
\*------------------------------------*/
@font-face {
  font-family: "proxima-nova-light";
  src: url("../fonts/proximanova-light-webfont.eot");
  src: local("?"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "proxima-nova-regular";
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: local("?"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "proxima-nova-bold";
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: local("?"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "proxima-nova-semibold";
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: local("?"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

/*------------------------------------*\
    $Variables
\*------------------------------------*/
/* 14px: 1 / (18x14) = 0.777777  */
/* 15px: 1 / (18x15) = 0.8333325 */
/* 21px: 1 / (18x21) = 1.1666666 */
/* 24px: 1 / (18x24) = 1.5 		 */
/* 30px: 1 / (18x30) = 1.666665  */
/* 36px: 1 / (18x36) = 1.999998  */
/* 48px: 1 / (18x48) = 2.666664  */
/* 90px: 1 / (18x90) = 4.999995  */
/* 140px: 1 / (18x140) = 7.77777 */
/*------------------------------------*\
    $Mixins
\*------------------------------------*/
/*------------------------------------*\
    $Layout
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto; }

.page {
  margin-top: 75px; }

/*------------------------------------*\
    $Header
\*------------------------------------*/
.logo {
  float: left;
  display: inline-block;
  width: 50px;
  height: 75px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 40px;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(../img/logo-small.png); }
  .logo:hover {
    background-color: transparent;
    border-bottom: 4px solid #5396db; }
  @media (max-width: 767px) {
    .logo {
      display: none; } }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 75px;
  background-color: rgba(234, 234, 234, 0.6); }
  @media (max-width: 767px) {
    .site-header {
      padding: 0 20px; } }
  .site-header li {
    display: inline-block; }

.nav {
  margin-top: 0; }

.main-nav {
  float: left;
  margin-bottom: 0; }
  .main-nav .nav {
    margin-bottom: 0; }
    .main-nav .nav a {
      color: #000;
      padding: 30px 5px;
      margin-right: 50px;
      height: 75px;
      line-height: 1; }
      .main-nav .nav a:hover {
        background-color: transparent;
        border-bottom: 4px solid #5396db; }

.util-nav {
  float: right;
  margin-top: 25px; }
  .util-nav .nav > li {
    margin-right: 20px; }
    .util-nav .nav > li:last-child {
      margin-right: 0; }
    .util-nav .nav > li > a {
      width: 27px;
      height: 27px;
      padding: 0;
      text-indent: -9999px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url(../img/share-icons.png); }
      .util-nav .nav > li > a.share {
        background-position: 0 -27px; }
      .util-nav .nav > li > a.github {
        background-position: 0 -54px; }
      .util-nav .nav > li > a:hover, .util-nav .nav > li > a:focus {
        outline: none;
        background-color: transparent; }

/*------------------------------------*\
    $Dropdown
\*------------------------------------*/
.dropdown-menu {
  left: -50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-top: 4px solid #5396db; }
  .dropdown-menu:before {
    top: -11px !important; }
  .dropdown-menu:after {
    border-bottom: 6px solid #5396db !important;
    top: -10px !important; }
  .dropdown-menu li {
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0.77778em; }
    .dropdown-menu li > a {
      padding: 0; }
      .dropdown-menu li > a:hover {
        color: #333;
        background-image: none;
        background-color: transparent; }

.dropdown__action {
  display: inline-block;
  font-weight: bold;
  background-color: #f1f1f1; }

.dropdown__tally {
  display: inline-block;
  font-weight: normal;
  background-color: #ebedef; }

/*------------------------------------*\
    $Footer
\*------------------------------------*/
.site-footer {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1e1f21; }
  .site-footer p {
    font-size: 0.77778em;
    color: #fff;
    margin-bottom: 0;
    text-align: center; }

/*------------------------------------*\
    $Promo
\*------------------------------------*/
.promo {
  padding-top: 230px;
  height: 675px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/map-bg.png); }
  @media (max-width: 767px) {
    .promo {
      height: 400px;
      margin-left: -20px;
      margin-right: -20px;
      padding-top: 100px; } }

.promo__title {
  width: 225px;
  height: 90px;
  margin: 0 auto 20px auto;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/logo-white-large.png); }

.promo__text {
  font-size: 1.33333em;
  color: #fff;
  text-align: center; }

.promo__button {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  width: 240px; }

/*------------------------------------*\
    $Typography
\*------------------------------------*/
h1, .h1 {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.3;
  font-weight: normal;
  font-family: "proxima-nova-light", Arial, sans-serif;
  font-size: 2.66666em; }

h2, .h2 {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.4;
  font-weight: normal;
  font-family: "proxima-nova-semibold", Arial, sans-serif;
  font-size: 1.33333em; }

h3, .h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 1.4;
  font-family: "proxima-nova-semibold", Arial, sans-serif; }

h4, .h4 {
  font-size: 1em;
  font-weight: normal; }

p {
  margin: 0 0 15px 0;
  line-height: 1.5; }

li {
  list-style-position: inside;
  line-height: 1.5; }

a {
  color: #8bb6e4; }
  a:hover {
    color: #8bb6e4;
    text-decoration: underline; }

hr {
  float: left;
  width: 100%;
  margin-bottom: 15px; }

/*------------------------------------*\
    $Page Title
\*------------------------------------*/
.page-title {
  height: 210px;
  padding: 90px 0;
  background-color: transparent;
  background-position: 0 0;
  background-image: url(../img/map-bg.png);
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .page-title {
      padding-right: 20px;
      padding-left: 20px;
      margin-right: -20px;
      margin-left: -20px; } }

.page-title__title {
  float: left;
  margin-top: 0;
  color: white;
  line-height: 1;
  font-size: 2.0em; }

.page-title__button {
  float: right; }

.big-button {
  padding: 15px 30px;
  font-family: "proxima-nova-bold", Arial, sans-serif; }

/*------------------------------------*\
    $Plain Title
\*------------------------------------*/
.plain-title {
  overflow: hidden;
  padding-top: 73px;
  border-bottom: 1px solid #ededed; }
  @media (max-width: 767px) {
    .plain-title {
      margin-bottom: 15px; } }
  .plain-title h1 {
    margin-bottom: 20px; }
  .plain-title p {
    margin-bottom: 24px;
    line-height: 1.6; }

/*------------------------------------*\
    $Sidebar
\*------------------------------------*/
.sidebar__title {
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #ededed;
  font-size: 1.16667em; }

.sidebar__nav {
  margin: 0; }
  .sidebar__nav li {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ffffff;
    list-style: none;
    color: #000; }
  .sidebar__nav a {
    display: block;
    padding: 15px 15px 14px;
    color: #000;
    font-size: 0.77778em;
    font-family: "proxima-nova-regular", Arial, sans-serif;
    border-left: 2px solid transparent; }
    .sidebar__nav a:hover {
      border-left: 2px solid #5396db;
      text-decoration: none; }

/*------------------------------------*\
    $Content
\*------------------------------------*/
.main {
  margin-top: 45px; }
  @media (max-width: 767px) {
    .main {
      margin-top: 0; } }

/*------------------------------------*\
    $Home
\*------------------------------------*/
.understanding-noflo {
  background-color: #e7e7e7; }
  .understanding-noflo h2 {
    font-family: "proxima-nova-light", Arial, sans-serif;
    font-size: 2.0em; }

.significance-of-noflo h2 {
  font-family: "proxima-nova-light", Arial, sans-serif;
  font-size: 2.0em; }

/*------------------------------------*\
    $Code Examples
\*------------------------------------*/
pre {
  margin: 0 0 15px 0;
  padding: 15px;
  border-left: 10px solid #28323e;
  letter-spacing: 1px;
  font-size: 0.77778em;
  font-family: "Myriad Pro", Aperture, Arial, sans-serif;
  line-height: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #1d1d1f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, #1f1f21), color-stop(0.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(#1f1f21 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(#1f1f21 50%, transparent 50%, transparent);
  background-image: linear-gradient(#1f1f21 50%, transparent 50%, transparent);
  background-size: 30px 30px;
  color: #fff; }

code {
  font-size: 0.77778em; }

/*------------------------------------*\
    $Library
\*------------------------------------*/
.library__item {
  position: relative;
  float: left;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  box-shadow: 1px 1px 2px #ddd; }

.library__item.active {
  padding-left: 12px;
  border-left: 4px solid #5396db;
  background-color: #fff; }

.library__info {
  float: left; }

.library__title {
  line-height: 1;
  font-size: 1.16667em; }

.library__updated {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 0.77778em;
  color: #808080; }

.library__description {
  float: left;
  width: 100%;
  margin-bottom: 0;
  clear: both; }

.library__download {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0.77778em;
  text-align: right; }
  @media (max-width: 767px) {
    .library__download {
      position: relative;
      top: auto;
      right: auto;
      float: left;
      width: 100%;
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #c0c0c0;
      text-align: left; } }
  .library__download strong, .library__download em {
    display: block;
    margin-bottom: 5px; }
    @media (max-width: 767px) {
      .library__download strong, .library__download em {
        display: inline; } }
  .library__download em {
    color: #808080; }

.overview {
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ffffff; }
  .overview dl {
    margin: 0; }
  .overview dt {
    font-size: 0.77778em;
    font-weight: normal;
    margin-bottom: 15px; }
  .overview dd {
    font-size: 0.77778em;
    font-weight: normal;
    margin-left: 0; }
  .overview a {
    font-family: "proxima-nova-semibold", Arial, sans-serif; }

.overview__downloads {
  float: left;
  width: 50%;
  margin-bottom: 0;
  line-height: 1.3; }
  .overview__downloads strong {
    display: block;
    font-family: "proxima-nova-semibold", Arial, sans-serif;
    font-weight: normal; }
  .overview__downloads em {
    display: block;
    font-style: normal;
    color: #c3c3c3;
    font-size: 0.77778em; }

.avatar {
  margin-right: 15px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  border-radius: 23px; }

/*------------------------------------*\
    $Demos
\*------------------------------------*/
.demo {
  float: left;
  width: 100%; }

.demo__title {
  font-size: 1.16667em;
  font-family: "proxima-nova-semibold", Arial, sans-serif; }

.demo__screenshot > img {
  float: right;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  box-shadow: -2px 2px 2px #ddd; }

.screenshot__explaination {
  float: left;
  width: 70%;
  font-size: 0.77778em;
  color: #808080; }
