---
layout: default
title: NoFlo | Flow-Based Programming for JavaScript
---

  <!--
  <section class="row-fluid homepage-section">
    <div class="flowhub-promo">
      <a class="flowhub-promo-logo" href="http://flowhub.io"><img src="{{ site.basedir }}/img/flowhub-logo.png" alt="Flowhub"></a>
      <h1 class="flowhub-promo-title">Level Up!</h1>
      <p class="flowhub-promo-text">The next evolution in the NoFlo Development Environment.<br />Focused on touch and motion.</p>
      <a href="http://flowhub.io" class="btn btn-primary flowhub-promo-button download-button">Visit flowhub.io</a>
    </div>
  </section>
    -->

  <section class="row-fluid homepage-section">
    <div class="promo">
      <h1 class="promo__title">{{ site.title }}</h1>
      <p class="promo__text">{{ site.tagline }}</p>
      <a href="{{ site.baseurl }}/documentation/" class="btn btn-primary promo__button download-button">Get started now</a>
    </div>
  </section>

  <section class="row-fluid homepage-section about-noflo">
    <div class="plain-title">
      <div class="container">
        <div class="span8 offset4">
          <h1>About NoFlo</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main">
        <div class="sidebar span4">
          <img src="./img/diagrams/circles.png" alt="" title="" class="sidebar__image" />
        </div>
        <div class="content span8">
          <h3>Flow-Based Programming (FBP)</h3>
          <p>NoFlo is a JavaScript implementation of <a href="http://en.wikipedia.org/wiki/Flow-based_programming">Flow-Based Programming</a> (FBP). Separating the control flow of software from the actual software logic. Helping you organize large applications easier than traditional OOP paradigms, especially when importing and modifying large data sets.</p>

          <h3>NoFlo and Node.js</h3>
          <p>FBP itself is not a new idea: it comes from a term IBM used in the 70s to define the concepts of more manageable business workflows. NoFlo, however, refreshes these concepts and brings them to HTML5 and <a href="http://nodejs.org/">Node.js</a> applications.</p>

          <h3>NoFlo library</h3>
          <p>The MIT-licensed NoFlo library can either be used to run full flow-based applications or as a library for making complex workflows or asynchronous processes more manageable. It can also be used as an <a href="http://en.wikipedia.org/wiki/Extract,_transform,_load">Extract, Transform, Load (ETL)</a> tool in business applications.</p>

          <p>NoFlo has been written in <a href="http://coffeescript.org/">CoffeeScript</a> for simplicity.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row-fluid homepage-section">
    <div class="video">
      <h2>NoFlo Videos</h2>
      <p>Featured: <a href="http://youtu.be/YJHT2vARAOQ">The origins of NoFlo</a></p>
      <a href="http://youtu.be/YJHT2vARAOQ" class="video__play">Play Video</a>
      <ul class="video-thumbnails">
        <li><a href="http://vimeo.com/72065207"><img src="{{ site.basedir }}/img/bergie-cbase.jpg" alt="Introduction to Flow-Based Programming and NoFlo"></a></li>
        <li><a href="http://vimeo.com/72238422"><img src="{{ site.basedir }}/img/paul-interview.jpg" alt="The origins of Flow-Based Programming with J Paul Morrison"></a></li>
        <li><a href="http://vimeo.com/68601823"><img src="{{ site.basedir }}/img/leigh-interview.jpg" alt="Leigh Taylor chats about designing the NoFlo UI"></a></li>
      </ul>
    </div>
  </section>

  <section class="row-fluid homepage-section">
    <div class="understanding-noflo">
      <div class="container">
        <div class="main">
          <div class="sidebar span4">
            <h2>Understand and design software visually</h2>
            <p>With NoFlo, your application consists of independent components that are connected together 
              in a graph. This makes it possible to split your problem in logical areas that make sense, 
              and to see how they connect with each other.</p>

            <p>NoFlo applications can be designed using the DrawFBP tool, and visualized using the 
              integrated web-based graph viewer.</p>
          </div>
          <div class="understanding-noflo__image span10">
            <img src="./img/diagrams/screen-and-map.png" alt="" title="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row-fluid homepage-section">
    <div class="theflo-panel">
      <div class="container">
        <div class="main">
          <a href="/kickstarter/"><img src="{{ site.baseurl}}/img/kickstarter-funded.png" alt="Funded on Kickstarter" /></a>
          <h2>Thank You!</h2>
          <p>Together we funded the NoFlo Development Environment <a href="http://www.kickstarter.com/projects/noflo/noflo-development-environment">on Kickstarter</a>.</p>
          <div class="call-to-actions">
            <a href="{{ site.baseurl }}/kickstarter/" class="btn btn-primary" id="prefinery_apply_link">See our backers</a>
          <a href="http://www.kickstarter.com/projects/noflo/noflo-development-environment" class="btn btn-primary">Watch the video</a>
          <!--<a href="{{ site.baseurl }}/documentation/" class="btn btn-primary promo__button download-button">Get started now</a>-->
        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="row-fluid homepage-section significance-of-noflo">
    <div class="container">
      <div class="plain-title">
        <h2>NoFlo and Flow-Based Programming</h2>
        <h3>The significance of FBP.</h3>
      </div>
      <div class="main">
        <div class="span7">
          <p>"In computer science, flow-based programming (FBP) is a programming paradigm that defines applications as networks of "black box" processes, which exchange data across predefined connections by message passing, where the connections are specified externally to the processes. These black box processes can be reconnected endlessly to form different applications without having to be changed internally. FBP is thus naturally component-oriented..."</p>
          <p><strong><a href="http://en.wikipedia.org/wiki/Flow-based_programming">Flow-Based Programming on Wikipedia</a></strong></p>

          <p>"This is the Unix philosophy: Write programs that do one thing and do it well. Write programs to work together. Write programs to handle text streams, because that is a universal interface."</p>
          <p><strong><a href="http://en.wikipedia.org/wiki/Unix_philosophy">Unix Philosophy</a></strong></p>

          <p>"I thought of objects being like biological cells and/or individual computers on a network, only able to communicate with messages (so messaging came at the very beginning -- it 
          took a while to see how to do messaging in a programming language efficiently enough to 
          be useful)."</p>
          <p><strong><a href="http://userpage.fu-berlin.de/~ram/pub/pub_jf47ht81Ht/doc_kay_oop_en">Alan Kay's original idea of object-oriented programming.</a></strong></p>
        </div>
        <div class="span5 fbp-book">
          <p><strong>Flow-Based Programming, 2nd Edition</strong> <br /> 
            by <a href="http://www.jpaulmorrison.com/">J. Paul Morrison</a></p>
          <a href="http://www.amazon.com/gp/product/B004PLO66O/ref=as_li_ss_tl?ie=UTF8&amp;tag=bergiesweblog-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B004PLO66O" class="paperback">
            <img src="./img/diagrams/book.png" alt="Flow-Based Programming, 2nd edition" title="Flow-Based Programming, 2nd edition" />
          </a>
          <ul class="book-sellers">
            <li><a href="http://www.lulu.com/spotlight/paul_morrison" class="epub">ePub</a></li>
            <li><a href="http://www.amazon.com/gp/product/B004PLO66O/ref=as_li_ss_tl?ie=UTF8&amp;tag=bergiesweblog-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B004PLO66O" class="paperback">Paperback</a></li>
            <li><a href="http://www.amazon.com/gp/product/1451542321/ref=as_li_ss_tl?ie=UTF8&amp;tag=bergiesweblog-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1451542321" class="kindle">Kindle</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="row-fluid homepage-section">
    <div class="part-of-noflo">
      <div class="container">
        <div class="span3">
          <h2>Be a part of NoFlo</h2>
          <p>Watch and Participate in the development of NoFlo</p>
          <ul class="development-sources">
            <li>
              <a href="{{ site.repository.web }}">
                <img src="./img/github-logo.png" alt="GitHub" title="GitHub" />
              </a>
            </li>
            <li>
              <a href="http://groups.google.com/group/flow-based-programming">
                <img src="./img/google-logo.png" alt="Google Groups" title="Google Groups" />
              </a>
            </li>
            <li class="last">
              <a href="https://npmjs.org/package/noflo">
                <img src="./img/npm-logo.png" alt="npm" title="npm" />
              </a>
            </li>
          </ul>
        </div>
        <div class="span9">
          <p>Participate in the development of NoFlo on <a href="{{ site.repository.web }}">GitHub</a>. Also see the NoFlo <a href="{{ site.repository.web }}/blob/master/CHANGES.md">change log</a>.</p>
          <hr />
        </div>
        <div class="span9 part-of-noflo__screen"></div>
      </div>
    </div>
  </section>

  <section id="featured" class="row-fluid homepage-section">
    <div class="who-uses-noflo">
      <div class="container">
        <div class="span2">
          <h2>Component Libraries</h2>
          <p>There are hundreds of <a href="{{ site.baseurl }}/library/">ready-made NoFlo components</a> available, including:</p>
        </div>
        <div class="span9 offset1 who-uses-noflo__logos">
          <ul>
            {% for library in site.categories['library'] reversed %}
              {% if site.highlight_libraries contains library.title %}
            <li>
              <a href="{{ site.baseurl }}{{ library.url }}">
                <img src="{{ site.baseurl }}/img/library/{{ library.title}}.jpg" alt="{{ library.title }}" title="{{ library.title }}" />
              </a>
            </li>
                {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  {% include prefinery.html %}
