---
  title: "CreateCustomer"
  library: "noflo-stripe"
  layout: "component"

---
noflo = require 'noflo'
stripe = require 'stripe'

class CreateCustomer extends noflo.AsyncComponent
  constructor: ->
    @client = null

    @inPorts =
      in: new noflo.Port
      apikey: new noflo.Port
    @outPorts =
      out: new noflo.Port
      error: new noflo.Port

    @inPorts.apikey.on 'data', (data) =>
      @client = stripe data

    super()
    
  checkRequired: (customerData, callback) ->
    unless customerData.email
      return callback new Error "Missing email"
    do callback

  doAsync: (customerData, callback) ->
    unless @client
      callback new Error "Missing Stripe API key"
      return
    
    # Validate inputs
    @checkRequired customerData, (err) =>
      return callback err if err
      
      # Create Stripe charge
      @client.customers.create customerData, (err, customer) =>
        return callback err if err
        @outPorts.out.send customer
        @outPorts.out.disconnect()
        callback()

exports.getComponent = -> new CreateCustomer
