---
  title: "Publish"
  library: "noflo-redis"
  layout: "component"

---
noflo = require 'noflo'
{RedisComponent} = require '../lib/RedisComponent.coffee'

class Publish extends RedisComponent
  constructor: ->
    @channel = null

    @inPorts =
      channel: new noflo.Port
      message: new noflo.Port
    @outPorts =
      out: new noflo.Port
      error: new noflo.Port

    @inPorts.channel.on 'data', (data) =>
      @channel = data

    super 'message'

  doAsync: (value, callback) ->
    unless @redis
      callback new Error 'No Redis connection available'
      return

    unless @channel
      callback new Error 'No channel defined'
      return

    @redis.publish @channel, value, (err, reply) =>
      return callback err if err
      if @outPorts.out.isAttached()
        @outPorts.out.beginGroup @channel
        @outPorts.out.send value
        @outPorts.out.endGroup()
        @outPorts.out.disconnect()
      callback()

exports.getComponent = -> new Publish
