---
  title: "Accept"
  library: "noflo-flow"
  layout: "component"

---
noflo = require("noflo")

class Accept extends noflo.Component

  description: "accept and forward certain incoming packets"

  constructor: ->
    @default = []
    @accept = @default

    @inPorts =
      in: new noflo.Port
      accept: new noflo.ArrayPort
      reset: new noflo.ArrayPort
    @outPorts =
      out: new noflo.Port

    @inPorts.accept.on "data", (data) =>
      @accept.push(data)

    @inPorts.reset.on "data", (data) =>
      @accept = @default

    @inPorts.in.on "begingroup", (group) =>
      @outPorts.out.beginGroup(group)

    @inPorts.in.on "data", (data) =>
      if @accept.indexOf(data) > -1
        @outPorts.out.send(data)

    @inPorts.in.on "endgroup", (group) =>
      @outPorts.out.endGroup()

    @inPorts.in.on "disconnect", =>
      @outPorts.out.disconnect()

exports.getComponent = -> new Accept
