---
  title: "Compact"
  library: "noflo-packets"
  layout: "component"

---
noflo = require("noflo")
_ = require("underscore")

class Compact extends noflo.Component

  description: "Remove null"

  constructor: ->
    @inPorts =
      in: new noflo.Port
    @outPorts =
      out: new noflo.Port

    @inPorts.in.on "begingroup", (group) =>
      @outPorts.out.beginGroup(group)

    @inPorts.in.on "data", (data) =>
      return unless data?
      return if data.length is 0
      return if _.isObject(data) and _.isEmpty(data)

      @outPorts.out.send(data)

    @inPorts.in.on "endgroup", (group) =>
      @outPorts.out.endGroup()

    @inPorts.in.on "disconnect", =>
      @outPorts.out.disconnect()

exports.getComponent = -> new Compact
