---
  title: "ObjectToString"
  library: "noflo-adapters"
  layout: "component"

---
noflo = require "noflo"
_s = require "underscore.string"

class ObjectToString extends noflo.Component

  description: _s.clean "stringifies a simple object with configurable
  associator and delimiter"

  constructor: ->
    @assoc = ":"
    @delim = ","

    @inPorts =
      in: new noflo.Port
      assoc: new noflo.Port
      delim: new noflo.Port
    @outPorts =
      out: new noflo.Port

    @inPorts.assoc.on "data", (@assoc) =>
    @inPorts.delim.on "data", (@delim) =>

    @inPorts.in.on "begingroup", (group) =>
      @outPorts.out.beginGroup group

    @inPorts.in.on "data", (data) =>
      str = []

      for key, value of data
        if Object::toString.apply(value) isnt "[object String]"
          value = JSON.stringify value

        str.push "#{key}#{@assoc}#{value}"

      @outPorts.out.send str.join @delim

    @inPorts.in.on "endgroup", (group) =>
      @outPorts.out.endGroup()

    @inPorts.in.on "disconnect", =>
      @outPorts.out.disconnect()

exports.getComponent = -> new ObjectToString
