---
  title: "Deny"
  library: "noflo-flow"
  layout: "component"

---
noflo = require("noflo")

class Deny extends noflo.Component

  description: "deny certain incoming packets and forwards the rest"

  constructor: ->
    @default = ["", null, undefined]
    @deny = @default

    @inPorts =
      in: new noflo.Port
      deny: new noflo.ArrayPort
      reset: new noflo.ArrayPort
    @outPorts =
      out: new noflo.Port

    @inPorts.deny.on "data", (data) =>
      @deny.push(data)

    @inPorts.reset.on "data", (data) =>
      @deny = @default

    @inPorts.in.on "begingroup", (group) =>
      @outPorts.out.beginGroup(group)

    @inPorts.in.on "data", (data) =>
      if @deny.indexOf(data) < 0
        @outPorts.out.send(data)

    @inPorts.in.on "endgroup", (group) =>
      @outPorts.out.endGroup()

    @inPorts.in.on "disconnect", =>
      @outPorts.out.disconnect()

exports.getComponent = -> new Deny
