<div>

  
  
  
    <div class='highlight'><pre>noflo = <span class="hljs-built_in">require</span> <span class="hljs-string">'noflo'</span>

exports.getComponent = <span class="hljs-function">-&gt;</span>
  c = <span class="hljs-keyword">new</span> noflo.Component
    description: <span class="hljs-string">'Convert input array to a NoFlo stream'</span>
    inPorts:
      in:
        datatype: <span class="hljs-string">'array'</span>
        description: <span class="hljs-string">'data we want to send'</span>
        required: <span class="hljs-literal">true</span>
    outPorts:
      out:
        datatype: <span class="hljs-string">'string'</span>
        description: <span class="hljs-string">'the data wrapped in brackets'</span>
        required: <span class="hljs-literal">true</span>

  c.process (input, output) -&gt;
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">unless</span> input.hasData <span class="hljs-string">'in'</span>

    output.send out: <span class="hljs-keyword">new</span> noflo.IP <span class="hljs-string">'openBracket'</span>

    datas = input.getData <span class="hljs-string">'in'</span>
    <span class="hljs-keyword">unless</span> Array.isArray datas
      datas = [datas]
    <span class="hljs-keyword">for</span> data <span class="hljs-keyword">in</span> datas
      output.send out: <span class="hljs-keyword">new</span> noflo.IP <span class="hljs-string">'data'</span>, data

    output.send out: <span class="hljs-keyword">new</span> noflo.IP <span class="hljs-string">'closeBracket'</span>
    output.done()</pre></div>
  

</div>
