<div>

  
  <h2 id="import-libraries">Import libraries</h2>

  
    <div class='highlight'><pre><span class="hljs-keyword">const</span> noflo = <span class="hljs-built_in">require</span>(<span class="hljs-string">&#x27;noflo&#x27;</span>);</pre></div>
  

  
  <h2 id="useful-functions">Useful functions</h2>
<p>Function to calculate most common value (the <a href="https://en.wikipedia.org/wiki/Mode_(statistics)">mode</a></p>

  
    <div class='highlight'><pre><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">findMode</span>(<span class="hljs-params">array</span>) </span>{
  <span class="hljs-keyword">const</span> frequency = {};
  <span class="hljs-keyword">let</span> maxFrequency = <span class="hljs-number">0</span>;
  <span class="hljs-keyword">let</span> result;
  array.forEach(<span class="hljs-function">(<span class="hljs-params">v</span>) =&gt;</span> {
    frequency[v] = (frequency[v] || <span class="hljs-number">0</span>) + <span class="hljs-number">1</span>;
    <span class="hljs-keyword">if</span> (frequency[v] &gt; maxFrequency) {
      maxFrequency = frequency[v];
      result = v;
    }
  });
  <span class="hljs-keyword">return</span> result;
}</pre></div>
  

  
  <h2 id="component-declaration">Component declaration</h2>
<p>Define the input and output ports, and describe their function</p>

  
    <div class='highlight'><pre><span class="hljs-built_in">exports</span>.getComponent = <span class="hljs-function">() =&gt;</span> {
  <span class="hljs-keyword">const</span> c = <span class="hljs-keyword">new</span> noflo.Component({
    <span class="hljs-attr">description</span>: <span class="hljs-string">&#x27;Find all of the instances of `word` in `content` and send them out in a stream&#x27;</span>,
    <span class="hljs-attr">inPorts</span>: {
      <span class="hljs-attr">content</span>: {
        <span class="hljs-attr">datatype</span>: <span class="hljs-string">&#x27;string&#x27;</span>,
        <span class="hljs-attr">description</span>: <span class="hljs-string">&#x27;the content which we look for the word in&#x27;</span>,
        <span class="hljs-attr">required</span>: <span class="hljs-literal">true</span>,
      },
    },
    <span class="hljs-attr">outPorts</span>: {
      <span class="hljs-attr">emotion</span>: {
        <span class="hljs-attr">datatype</span>: <span class="hljs-string">&#x27;string&#x27;</span>,
        <span class="hljs-attr">description</span>: <span class="hljs-string">&#x27;the emotion based the content in ehs&#x27;</span>,
        <span class="hljs-attr">required</span>: <span class="hljs-literal">true</span>,
      },
      <span class="hljs-attr">error</span>: {
        <span class="hljs-attr">datatype</span>: <span class="hljs-string">&#x27;object&#x27;</span>,
      },
    },
  });</pre></div>
  

  
  <p>Since we want to work with a full stream, we disable bracket forwarding</p>

  
    <div class='highlight'><pre>  c.forwardBrackets = {};</pre></div>
  

  
  <h2 id="processing-function">Processing function</h2>

  
    <div class='highlight'><pre>  c.process(<span class="hljs-function">(<span class="hljs-params">input, output</span>) =&gt;</span> {</pre></div>
  

  
  <h3 id="receiving-input">Receiving input</h3>
<p>We expect a <a href="noflojs.org/documentation/process-api/#full-stream">stream</a>
Will also accept a single (non-bracketed) input packet, returned as a stream of length 1</p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">if</span> (!input.hasStream(<span class="hljs-string">&#x27;content&#x27;</span>)) { <span class="hljs-keyword">return</span>; }</pre></div>
  

  
  <p>The output will be a single packet (not a stream),
hence we drop the <code>openBracket</code> and <code>closeBracket</code>
and extract the data payload from the IP objects</p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">const</span> contents = input.getStream(<span class="hljs-string">&#x27;content&#x27;</span>).filter(<span class="hljs-function"><span class="hljs-params">ip</span> =&gt;</span> ip.type === <span class="hljs-string">&#x27;data&#x27;</span>).map(<span class="hljs-function"><span class="hljs-params">ip</span> =&gt;</span> ip.data);</pre></div>
  

  
  <h3 id="component-business-logic">Component business logic</h3>
<p>First find which emotions are present, then calculate which one is most common.
This could alternatively be split into two dedicate components.</p>

  

  
  <p>to hold the emotions found</p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">const</span> matches = [];</pre></div>
  

  
  <p>the emotions we will use</p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">const</span> emotions = {
      <span class="hljs-attr">joy</span>: [<span class="hljs-string">&#x27;eh!&#x27;</span>],
      <span class="hljs-attr">neutral</span>: [<span class="hljs-string">&#x27;eh&#x27;</span>],
      <span class="hljs-attr">amusement</span>: [<span class="hljs-string">&#x27;eh?&#x27;</span>, <span class="hljs-string">&#x27;Eh?&#x27;</span>, <span class="hljs-string">&#x27;Eh??&#x27;</span>],
      <span class="hljs-attr">fear</span>: [<span class="hljs-string">&#x27;eH??&#x27;</span>, <span class="hljs-string">&#x27;eh??&#x27;</span>],
      <span class="hljs-attr">surprise</span>: [<span class="hljs-string">&#x27;eh !?&#x27;</span>, <span class="hljs-string">&#x27;EH!?&#x27;</span>],
      <span class="hljs-attr">anticipation</span>: [<span class="hljs-string">&#x27;eh?!&#x27;</span>],
      <span class="hljs-attr">excitment</span>: [<span class="hljs-string">&#x27;EH!&#x27;</span>, <span class="hljs-string">&#x27;eH!&#x27;</span>],
      <span class="hljs-attr">sadness</span>: [<span class="hljs-string">&#x27;...eh&#x27;</span>, <span class="hljs-string">&#x27;...eh...&#x27;</span>, <span class="hljs-string">&#x27;..eh&#x27;</span>, <span class="hljs-string">&#x27;eh..&#x27;</span>, <span class="hljs-string">&#x27;..eh..&#x27;</span>],
      <span class="hljs-attr">anger</span>: [<span class="hljs-string">&#x27;EH!?&#x27;</span>, <span class="hljs-string">&#x27;EH?&#x27;</span>],
    };</pre></div>
  

  
  <p>go through our content and our emotions
then add them to our <code>matches</code></p>

  
    <div class='highlight'><pre>    contents.forEach(<span class="hljs-function">(<span class="hljs-params">content</span>) =&gt;</span> {
      <span class="hljs-built_in">Object</span>.keys(emotions).forEach(<span class="hljs-function">(<span class="hljs-params">emotion</span>) =&gt;</span> {
        <span class="hljs-keyword">const</span> data = emotions[emotion];
        <span class="hljs-keyword">if</span> (data.indexOf(content) !== <span class="hljs-number">-1</span>) {
          matches.push(emotion);
        }
      });
    });</pre></div>
  

  
  <p>if we didn’t get any emotions, it default to ‘neutral’</p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">let</span> mode;
    <span class="hljs-keyword">if</span> (matches.length === <span class="hljs-number">0</span>) {
      mode = <span class="hljs-string">&#x27;neutral&#x27;</span>;</pre></div>
  

  
  <p>if we did, we need to find the emotion that was the most common</p>

  
    <div class='highlight'><pre>    } <span class="hljs-keyword">else</span> {
      mode = findMode(matches);
    }</pre></div>
  

  
  <h3 id="send-output">Send output</h3>
<p>Also signals completion by using <code>sendDone()</code></p>

  
    <div class='highlight'><pre>    output.sendDone({
      <span class="hljs-attr">emotion</span>: mode,
    });
  });

  <span class="hljs-keyword">return</span> c;
};</pre></div>
  

</div>
