<div>

  
  <h2 id="import-libraries">Import libraries</h2>

  
    <div class='highlight'><pre>noflo = <span class="hljs-built_in">require</span> <span class="hljs-string">'noflo'</span></pre></div>
  

  
  <h2 id="useful-functions">Useful functions</h2>
<p>Function to calculate most common value (the <a href="https://en.wikipedia.org/wiki/Mode_(statistics">mode</a>)</p>

  
    <div class='highlight'><pre><span class="hljs-function"><span class="hljs-title">findMode</span> = <span class="hljs-params">(array)</span> -&gt;</span>
  frequency = {}
  maxFrequency = <span class="hljs-number">0</span>
  result = <span class="hljs-literal">undefined</span>
  <span class="hljs-keyword">for</span> v <span class="hljs-keyword">of</span> array
    frequency[array[v]] = (frequency[array[v]] <span class="hljs-keyword">or</span> <span class="hljs-number">0</span>) + <span class="hljs-number">1</span>
    <span class="hljs-keyword">if</span> frequency[array[v]] &gt; maxFrequency
      maxFrequency = frequency[array[v]]
      result = array[v]
  result</pre></div>
  

  
  <h2 id="component-declaration">Component declaration</h2>
<p>Define the input and output ports, and describe their function</p>

  
    <div class='highlight'><pre>exports.getComponent = <span class="hljs-function">-&gt;</span>
  c = <span class="hljs-keyword">new</span> noflo.Component
    description: <span class="hljs-string">'Find all of the instances of `word` in `content` and send them out in a stream'</span>
    inPorts:
      content:
        datatype: <span class="hljs-string">'string'</span>
        description: <span class="hljs-string">'the content which we look for the word in'</span>
        required: <span class="hljs-literal">true</span>
    outPorts:
      emotion:
        datatype: <span class="hljs-string">'string'</span>
        description: <span class="hljs-string">'the emotion based the content in ehs'</span>
        required: <span class="hljs-literal">true</span>
      error:
        datatype: <span class="hljs-string">'object'</span></pre></div>
  

  
  <h2 id="processing-function">Processing function</h2>

  
    <div class='highlight'><pre>  c.process (input, output) -&gt;</pre></div>
  

  
  <h3 id="receiving-input">Receiving input</h3>
<p>We expect a <a href="noflojs.org/documentation/process-api/#full-stream">stream</a>
Will also accept a single (non-bracketed) input packet, returned as a stream of length 1</p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">return</span> <span class="hljs-keyword">unless</span> input.hasStream <span class="hljs-string">'content'</span>
    contents = input.getStream <span class="hljs-string">'content'</span></pre></div>
  

  
  <p>The output will be a single packet (not a stream),
hence we drop the <code>openBracket</code> and <code>closeBracket</code></p>

  
    <div class='highlight'><pre>    contents = contents.filter (ip) -&gt; ip.type <span class="hljs-keyword">is</span> <span class="hljs-string">'data'</span></pre></div>
  

  
  <p>extract the data payload from the IP objects</p>

  
    <div class='highlight'><pre>    contents = contents.map (ip) -&gt; ip.data</pre></div>
  

  
  <h3 id="component-business-logic">Component business logic</h3>
<p>First find which emotions are present, then calculate which one is most common.
This could alternatively be split into two dedicate components.</p>

  

  
  <p>to hold the emotions found</p>

  
    <div class='highlight'><pre>    matches = []</pre></div>
  

  
  <p>the emotions we will use</p>

  
    <div class='highlight'><pre>    emotions =
      joy: [<span class="hljs-string">'eh!'</span>]
      neutral: [<span class="hljs-string">'eh'</span>]
      amusement: [<span class="hljs-string">'eh?'</span>, <span class="hljs-string">'Eh?'</span>, <span class="hljs-string">'Eh??'</span>]
      fear: [<span class="hljs-string">'eH??'</span>, <span class="hljs-string">'eh??'</span>]
      surprise: [<span class="hljs-string">'eh !?'</span>, <span class="hljs-string">'EH!?'</span>]
      anticipation: [<span class="hljs-string">'eh?!'</span>]
      excitment: [<span class="hljs-string">'EH!'</span>, <span class="hljs-string">'eH!'</span>]
      sadness: [<span class="hljs-string">'...eh'</span>, <span class="hljs-string">'...eh...'</span>, <span class="hljs-string">'..eh'</span>, <span class="hljs-string">'eh..'</span>, <span class="hljs-string">'..eh..'</span>]
      anger: [<span class="hljs-string">'EH!?'</span>, <span class="hljs-string">'EH?'</span>]</pre></div>
  

  
  <p>go through our content and our emotions
then add them to our <code>matches</code></p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">for</span> content <span class="hljs-keyword">in</span> contents
      <span class="hljs-keyword">for</span> emotion, data <span class="hljs-keyword">of</span> emotions
        <span class="hljs-keyword">if</span> content <span class="hljs-keyword">in</span> data
          matches.push emotion</pre></div>
  

  
  <p>if we didn’t get any emotions, it default to ‘neutral’</p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">if</span> matches.length <span class="hljs-keyword">is</span> <span class="hljs-number">0</span>
      mode = <span class="hljs-string">'neutral'</span></pre></div>
  

  
  <p>if we did, we need to find the emotion that was the most common</p>

  
    <div class='highlight'><pre>    <span class="hljs-keyword">else</span>
      mode = findMode matches</pre></div>
  

  
  <h3 id="send-output">Send output</h3>
<p>Also signals completion by using <code>sendDone()</code></p>

  
    <div class='highlight'><pre>    output.sendDone emotion: mode</pre></div>
  

</div>
