  <footer class="site-footer">
    <div class="row-fluid">
      <div class="container">
        <p>{{ site.title }} - {{ site.tagline }} is <a href="{{ site.baseurl }}/license/">free software</a> developed by 
          <a href="http://bergie.iki.fi/">Henri Bergius</a>.</p>
      </div>
    </div>
  </footer>
  <nav class="mobile-nav">
    <ul class="nav">
      <li><h3>Site</h3></li>
      <!--
      <li><a href="{{ site.baseurl }}/demo/"{% if page.categories contains 'demo' %} class="active"{% endif %}>Demos</a></li>
      -->
      <li><a href="{{ site.baseurl }}/documentation/"{% if page.categories contains 'documentation' %} class="active"{% endif %}>Documentation</a></li>
      <li class="last"><a href="{{ site.baseurl }}/library/"{% if page.categories contains 'library' or page.categories contains 'component' %} class="active"{% endif %}>Libraries</a></li>
      <li><h3>Contact</h3></li>
      <li><a href="http://groups.google.com/group/flow-based-programming">Mailing list</a></li>
      <li><a href="http://twitter.com/noflojs">Twitter</a></li>
      <li><a href="https://github.com/noflo">Github</a></li>
    </ul>
  </nav>
