  <header class="row-fluid">
    <div class="site-header span12">
      <div class="container">
        <a href="{{ site.baseurl }}/" class="logo{% if page.url == '/index.html' %} active{% endif %}">{{ site.title }}</a>
        <a href="{{ site.baseurl }}/" class="toggle-main-nav">Navigation</a>
        <div class="search-site">
          <a href="{{ site.baseurl }}" class="toggle-search">Search</a>
          {% include search.html %}
        </div>
        <nav class="main-nav">
          <ul class="nav">
            <li><a href="{{ site.baseurl }}/example/"{% if page.categories contains 'example' %} class="active"{% endif %}>Examples</a></li>
            <li><a href="{{ site.baseurl }}/documentation/"{% if page.categories contains 'documentation' %} class="active"{% endif %}>Documentation</a></li>
            <li class="last"><a href="https://npmjs.com/browse/depended/noflo"{% if page.categories contains 'library' or page.categories contains 'component' %} class="active"{% endif %}>Components</a></li>
          </ul>
        </nav>

        <div class="right">
          <nav class="util-nav">
            <ul class="nav">
              <li class="dropdown">
                <a href="http://groups.google.com/group/flow-based-programming" class="email">Mailing list</a>
              </li>
              <li class="dropdown">
                <a href="http://twitter.com/noflo" class="share">Twitter</a>
              </li>
              <li class="dropdown">
                <a href="https://github.com/noflo" class="github">Github</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
