          <h3 class="sidebar__title">NoFlo Overview</h3>
          <div class="overview">
            <p class="overview__downloads">
              <strong>{{ site.categories['library'] | size }}</strong> component libraries
            </p>
            <p class="overview__downloads">
              <strong>{{ site.categories['component'] | size }}</strong> reusable components
            </p>
          </div>
          <div class="sidebar__extra">
            <div class="overview">
              <dl>
                <dt>Maintainers:</dt>
                <dd><img src="https://secure.gravatar.com/avatar/995f27ce7205a79c55d4e44223cd6de0?s=23" class="avatar" /><a href="http://bergie.iki.fi">Henri Bergius</a></dd>
              </dl>
            </div>
            <div class="overview">
              <dl>
                <dt>License:</dt>
                <dd><a href="./">MIT</a></dd>
              </dl>
            </div>
            <div class="overview">
              <dl>
                <dt>Repository:</dt>
                <dd><a href="https://github.com/bergie/noflo">git://github.com/bergie/noflo.git</a></dd>
              </dl>
            </div>
          </div>
