          <form id="cse-search-box" action="http://google.com/cse" class="search-form">
            <fieldset>
              <input type="hidden" name="cx" value="{{ site.google.search }}" />
              <input type="text" id="keywords" name="q" class="search__keywords" value="" placeholder="Search Noflo Site ..." />
              <input type="hidden" name="ie" value="UTF-8" />
              <input class="search-button" type="submit" name="sa" value="Search" />
              <span class="search-prompt">Hit Return</span>
            </fieldset>
          </form>
