---
layout: default
---
  <div class="row-fluid">
    <div class="container">
      <div class="plain-title">
        {% if site.highlight_libraries contains page.library %}
        <img src="{{ site.baseurl }}/img/library/{{ page.library }}.jpg" alt="{{ page.library }}" title="{{ page.library }}" class="library__logo pull-right" />
        {% endif %}
        <h1>{{ page.library | replace: 'noflo-', '' }}/{{ page.title }}</h1>
        <h2>Component from <a href="{{ site.baseurl }}/library/{{ page.library }}/">{{ page.library }}</a></h2>
        <p>{{ page.description }}</p>
      </div>
      <div class="main">
        <div class="sidebar span4">
          {% for library in site.categories['library'] %}
            {% if library.title == page.library %}
          <h3 class="sidebar__title">{{ library.title }} Overview</h3>
          <div class="sidebar__extra">
            <div class="overview">
              <dl>
                <dt>Maintainers:</dt>
                {% if library.author.name %}
                <dd>{{ library.author.name }}</dd>
                {% else %}
                <dd>{{ library.author }}</dd>
                {% endif %}
              </dl>
            </div>
            <div class="overview">
              <dl>
                <dt>Version:</dt>
                <dd>{{ library.version }}</dd>
              </dl>
            </div>
            {% if library.license == 'MIT' %}
            <div class="overview">
              <dl>
                <dt>License:</dt>
                <dd><a href="{{ site.baseurl }}/license/">MIT</a></dd>
              </dl>
            </div>
            {% endif %}
            {% if library.license.url and library.license.type %}
            <div class="overview">
              <dl>
                <dt>License:</dt>
                <dd><a href="{{ library.license.url }}">{{ library.license.type }}</a></dd>
              </dl>
            </div>
            {% endif %}
            {% if library.repository %}
            <div class="overview">
              <dl>
                <dt>Repository:</dt>
                <dd><a href="{{ library.repository.url | replace: 'git://', 'https://' }}">{{ library.repository.url }}</a></dd>
              </dl>
            </div>
            {% endif %}
          </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="content span8">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
