<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.library %}{{ page.library | replace: 'noflo-', '' }}/{% endif %}{{ page.title }}{% unless page.url == '/index.html' %} | {{ site.title }}{% endunless %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.png">
</head>
<body>
<div class="page">
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/min/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/min/all.min.js"></script>
{% include analytics.html %}
</body>
</html>
