<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="shortcut icon" href="/img/favicon.png">
</head>
<body>
<div class="page">
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/js/min/bootstrap.min.js"></script>
<script src="/js/min/all.min.js"></script>
</body>
</html>
