---
layout: default
---
  <div class="row-fluid">
    <div class="page-title documentation-page-title">
      <div class="container">
        <h1 class="page-title__title">Documentation</h1>
        <a href="{{ site.baseurl }}/api/NoFlo/" class="btn btn-primary page-title__button big-button">{{ site.version }} API docs</a>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="container documentation-main-container">
      <div class="main">
        <div class="sidebar span4">
          <nav>
            <ul class="sidebar__nav">
              <li>
                <a href="{{ site.baseurl }}/documentation/"{% if page.url == '/documentation/index.html' %} class="active"{% endif%}>Getting Started with NoFlo</a>
              </li>
              {% for post in site.categories['documentation'] %}
              {% if post.url == '/documentation/protocol/' or post.url == '/documentation/fbp/' or post.url == '/documentation/json/' or post.url == '/documentation/async-components/' %}{% continue %}{% endif %}
              <li>
                <a href="{{ site.baseurl }}{{ post.url }}"{% if post.url == page.url %} class="active"{% endif%}>{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
            <ul class="sidebar__nav">
              <li>
                <a href="{{ site.baseurl }}/support/">Need help?</a>
                <a href="https://github.com/noflo/noflo.github.io/tree/master/documentation/_posts">Contribute</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="content span8">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
