---
layout: default
---
  <div class="row-fluid">
    <div class="container">
      <div class="plain-title">
        {% if site.highlight_libraries contains page.title %}
        <img src="{{ site.baseurl }}/img/library/{{ page.title }}.jpg" alt="{{ page.title }}" title="{{ page.title }}" class="library__logo pull-right" />
        {% endif %}
        <h1>{{ page.title }}</h1>
        <h2>Component Library</h2>
        <p>{{ page.description }}</p>
      </div>
      <div class="main">
        <div class="sidebar span4">
          <h3 class="sidebar__title">Library Overview</h3>
          <div class="sidebar__extra">
            <div class="overview">
              <dl>
                <dt>Maintainers:</dt>
                <dd>{{ page.author }}</dd>
              </dl>
            </div>
            <div class="overview">
              <dl>
                <dt>License:</dt>
                <dd><a href="./">MIT</a></dd>
              </dl>
            </div>
            {% if page.repository %}
            <div class="overview">
              <dl>
                <dt>Repository:</dt>
                <dd><a href="{{ page.repository.url | replace: 'git://', 'https://' }}">{{ page.repository.url }}</a></dd>
              </dl>
            </div>
            {% endif %}
          </div>
        </div>

        <div class="content span8">
          <h2>Using this library</h2>
          <p>Add this library to your project's dependencies with:</p>
          <pre>$ npm install {{ page.title }} --save</pre>
          <h2>Components</h2>
          {% for component in site.categories['component'] %}
            {% if component.library == page.title %}
          <div class="library__item">
            <div class="library__info">
              <h3 class="library__title"><a href="{{ site.baseurl}}{{ component.url }}">{{ component.title }}</a></h3>
            </div>
            <p class="library__description">{{ component.description }}</p>
          </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
