---
layout: default
title: Download NoFlo for the browser
---
  <div class="row-fluid">
    <div class="container">
      <div class="plain-title">
        <h1>{{ page.title }}</h1>
        <p>NoFlo is open source software available under the permissive <a href="{{ site.baseurl}}/license/">MIT license</a></p>
      </div>
      <div class="main">
        <div class="sidebar span4">
          {% include noflo.html %}
        </div>
        <div class="content span8">
          <h2>Create a custom download</h2>
          <p>
          The NoFlo download builder will generate a custom JavaScript file with the <a href="{{ site.baseurl }}">component libraries</a> you need for your project.
          </p>
          <p>
          For Node.js you should install NoFlo <a href="https://npmjs.org/package/noflo">via NPM</a>.
          </p>
          <form method="post" action="http://noflo-builder.herokuapp.com/" class="form-horizontal">
            <fieldset>
              <fieldset>
                <legend>Core functionality</legend>
                <div class="control-group">
                  <label class="control-label" for="noflo-core">
                    NoFlo core
                  </label>
                  <div class="controls">
                    <input id="noflo-core" type="checkbox" checked disabled>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>Component Libraries to include</legend>
              {% for library in site.browser_libraries %}
                <div class="control-group">
                  <label class="control-label" for="{{ library | replace: '/', '-' }}">
                    {{ library }}
                  </label>
                  <div class="controls">
                    <input name="{{ library }}" type="checkbox" id="{{ library | replace: '/', '-' }}">
                  </div>
                </div>
              {% endfor %}
              </fieldset>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Build Download</button>
                </div>
              </div>
            </fieldset>
          </form>
          <h2>Usage</h2>
          <p>
          To use NoFlo in your web app, simply include it to your pages:
          </p>
{% highlight html %}
<script src="/path/to/noflo.js"></script>
<script>
// Load some graph definition into NoFlo
noflo.graph.loadJSON(someJSON, function (graph) {
  // Make all included component libraries available
  graph.baseDir = '/noflo-custom';

  // Create the live NoFlo network
  noflo.createNetwork(graph, function (network) {
    console.log("Network created");
  });
});
</script>
{% endhighlight %}
        </div>
      </div>
    </div>
  </div>
